.Team {
    background-color: rgba(87, 87, 87, 0.5);
    border: solid black 2px;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 45%;
}

.Teams-info {
    display: flex;
    flex-direction: column;
}

.Teams-inputs {
    display: flex;
    flex-direction: row;
}

.Team-title {
    text-shadow: 3px 3px 2px rgb(85, 85, 85);
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 11px;
}

.Team-characteristics {
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 8px;
    text-align: right;
    width: 100%;
}

.Team-char-input {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.Team-left-side {
    margin-right:0px;
    width:50%;
}

.Team-right-side {
    margin-left: 0px;
    width:50%;
}

input[type=number] {
    height: 21px;
    border-radius: 6px;
}

input[type=number]:hover {
    background-color: rgb(255, 243, 205);
}

input[type=number]:focus {
    background-color: rgb(255, 232, 155);
}